<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".services.PxEZApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherep"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBase"
        tools:replace="android:theme">
        <meta-data
            android:name="com.perol.asdpl.pixivez.services.CustomGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".activity.HelloMActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity-alias android:name=".md"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launchermd"
            android:label="@string/app_name"
            android:targetActivity=".activity.HelloMActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias android:name=".triangle"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcherep"
            android:label="@string/app_name"
            android:targetActivity=".activity.HelloMActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias android:name=".normal"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:targetActivity=".activity.HelloMActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".activity.NewUserActivity" />
        <activity android:name=".activity.LoginActivity"
            android:exported="true"/>

        <activity android:name=".activity.UserMActivity" />

        <activity android:name=".manager.ImgManagerActivity" />
        <activity android:name=".activity.BlockActivity" />
        <activity android:name=".activity.NovelActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.OKWebViewActivity" />
        <activity android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting" />
        <activity android:name=".activity.AccountActivity" />
        <activity android:name=".activity.ThemeActivity" />

        <activity android:name=".activity.HistoryMActivity" />
        <activity android:name=".manager.DownloadManagerActivity" />

        <activity android:name=".activity.PixivsionActivity" />
        <activity android:name=".activity.SpotlightActivity" />
        <activity android:name=".activity.SearchRActivity"
            android:label="@string/title_activity_search_r" />
        <activity android:name=".activity.SearchResultActivity"/>
        <activity android:name=".activity.PictureActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".activity.ZoomActivity" />
        <activity android:name=".activity.UserFollowActivity" />
        <activity android:name=".activity.SaucenaoActivity"
            android:label="@string/title_activity_saucenao">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.IntentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pixiv.net"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pixiv.net"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.pixiv.net"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pixiv.net"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pixiv.me"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="pixiv.me"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="pixiv" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".objects.NewAppWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>
    </application>

</manifest>